{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">AMOS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>

                        {% if not request.session.user_email %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/register">Register</a>
                        </li>
                        {% endif %}

                        {% if request.session.user_email %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="fs-1 text-center mt-3">Dashboard</h1>
                <div class="card mt-3">
                    <div class="card-body">
                        {% if request.session.user_email %}
                        <p><strong>Full Name:</strong> {{ user_data.fullname }} | <button type="button"
                                class="btn btn-primary btn-sm" id="fullname">Update</button></p>
                        <p><strong>Email:</strong> {{ user_data.email }}</p>
                        <p><strong>Interest Areas:</strong> | <a href="/updateInterestAreas" type="button"
                                class="btn btn-secondary btn-sm">Update</a></p>
                        <ul>
                            {% for interest in user_data.ilgi_alanlari %}
                            <li>{{ interest }}</li>
                            {% endfor %}
                        </ul>
                        <div class="update-form" id="update-form" style="display: none;">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-1">
                                        <label for="inputPassword5" class="form-label">New Value: </label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="info" placeholder="">
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        {% else %}
                        <p class="text-center">Please login to view dashboard.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}

                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Sizin için önerilenler - Fasttext</div>
                    <div class="card-body">
                        {% for article in f_advantages_data %}
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                <h5 class="card-title">{{ article.icerik|slice:":50" }} </h5>
                                        <hr>
                                        <p class="card-text">Precision: {{ article.performans }}</p> 
                                        <hr>
                                        <p class="card-text">{{ article.icerik |slice:":100" }}...</p>
                                        <p class="card-text"><strong>Anahtar Kelimeler:</strong>
                                            {{ article.key_icerik |slice:":100" }}...</p>
                                            <hr>
                                            <a href="/articleDetail/{{ article.kimlik }}" class="btn btn-primary btn-sm">İncele</a>
                                            <button type="button" class="btn btn-danger btn-sm">Beğenmedim</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Sizin için önerilenler - Scibert</div>
                    <div class="card-body">
                        {% for article in s_advantages_articles %}
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ article.icerik|slice:":50" }} </h5>
                                        <hr>
                                        <p class="card-text">Precision: {{ article.performans }}</p> 
                                        <hr>
                                        <p class="card-text">{{ article.icerik |slice:":100" }}...</p>
                                        <p class="card-text"><strong>Anahtar Kelimeler:</strong>
                                            {{ article.key_icerik |slice:":100" }}...</p>
                                            <hr>
                                            <a href="/articleDetail/{{ article.kimlik }}" class="btn btn-primary btn-sm">İncele</a>
                                            <button type="button" class="btn btn-danger btn-sm">Beğenmedim</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        document.querySelectorAll('.btn-info').forEach(function (button) {
            button.addEventListener('click', function () {
                var fieldName = this.id;
                var formAction = "";

                if (fieldName === 'fullname') {
                    formAction = "/updatefullname";
                } else if (fieldName === 'email') {
                    formAction = "/updateemail";
                } else if (fieldName === 'interestAreas') {
                    formAction = "/updateinterestareas";
                }

                // Formun action attribute'unu güncelle
                var updateForm = document.getElementById("update-form");
                var form = updateForm.querySelector('form');
                form.action = formAction;

                // Formu göster veya gizle
                if (updateForm.style.display === 'none') {
                    updateForm.style.display = 'block';
                } else {
                    updateForm.style.display = 'none';
                }
            });
        });
    </script>

</body>

</html>