{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">AMOS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>

                        {% if not request.session.user_email %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/register">Register</a>
                        </li>
                        {% endif %}

                        {% if request.session.user_email %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container mt-4">
        <h2 class="mb-4">Register</h2>

        <!-- Hata mesajını göster -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form method="post" action="/register">
            {% csrf_token %}

            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="fullname" class="form-label">Full Name</label>
                        <input type="text" class="form-control" name="fullname">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">Akademik İlgi Alanları</div>
                <div class="card-body">

                    <p>Lütfen ilgi alanlarınızı seçin veya belirtin:</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani1" name="ilgi_alanlari"
                            value="Computer Science">
                        <label class="form-check-label" for="ilgi_alani1">Computer Science</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani2" name="ilgi_alanlari"
                            value="Artificial Intelligence">
                        <label class="form-check-label" for="ilgi_alani2">Artificial Intelligence</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani3" name="ilgi_alanlari"
                            value="Data Science">
                        <label class="form-check-label" for="ilgi_alani3">Data Science</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani4" name="ilgi_alanlari"
                            value="Machine Learning">
                        <label class="form-check-label" for="ilgi_alani4">Machine Learning</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani5" name="ilgi_alanlari"
                            value="Object Oriented Programming">
                        <label class="form-check-label" for="ilgi_alani5">Object Oriented Programming</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani6" name="ilgi_alanlari"
                            value="Natural Language Processing">
                        <label class="form-check-label" for="ilgi_alani6">Natural Language Processing</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani7" name="ilgi_alanlari"
                            value="Robotic">
                        <label class="form-check-label" for="ilgi_alani7">Robotic</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani8" name="ilgi_alanlari"
                            value="Big Data">
                        <label class="form-check-label" for="ilgi_alani8">Big Data</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani9" name="ilgi_alanlari"
                            value="Image Proccessing">
                        <label class="form-check-label" for="ilgi_alani9">Image Processing</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani10" name="ilgi_alanlari"
                            value="Blockchain">
                        <label class="form-check-label" for="ilgi_alani10">Blockchain</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani11" name="ilgi_alanlari"
                            value="Data Mining">
                        <label class="form-check-label" for="ilgi_alani11">Data Mining</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani12" name="ilgi_alanlari"
                            value="IT law">
                        <label class="form-check-label" for="ilgi_alani12">IT law</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani13" name="ilgi_alanlari"
                            value="Computer Engineering">
                        <label class="form-check-label" for="ilgi_alani13">Computer Engineering</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani14" name="ilgi_alanlari"
                            value="Information System">
                        <label class="form-check-label" for="ilgi_alani14">Information System</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ilgi_alani15" name="ilgi_alanlari"
                            value="E-Trade">
                        <label class="form-check-label" for="ilgi_alani15">E-Trade</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3 mb-5">Register</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>